<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Derby Database Connection -->
    <context-param>
        <param-name>derbyJdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>derbyDbUsername</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derbyDbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>derbyJdbcDriverUrl</param-name>
        <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
    </context-param>
    <!-- MySQL Database Connection -->
    <context-param>
        <param-name>mysqlJdbcClassName</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDbUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlDbPassword</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlJdbcDriverUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/StudentDB</param-value>
    </context-param>
    <!-- Encryption -->
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES</param-value>
    </context-param>
    <context-param>
        <param-name>key</param-name>
        <param-value>2CSE_FAP_GROUP_6</param-value>
    </context-param>
    <!-- Servlets -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>app.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>app.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>app.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>app.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>app.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentDetail</servlet-name>
        <servlet-class>app.StudentDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDetail</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>app.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <!-- Config -->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exception.NullValueException</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
